//Fixes
.table thead th {
    border-bottom: 1px ;
    font-weight: 600;
}
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    border: solid 2px $value;
    &:active, &:hover{
      background-color: transparent !important;
      color: darken($value, 5%)!important;
      border:solid 2px darken($value, 5%)!important;
    }
  }
}
mark {
    color: $secondary;
    background-color: $gray-100;
}
.custom-control.custom-switch {
    .custom-control-input:checked:not(:disabled) ~ .custom-control-label::before {
      background-color: $custom-switch-indicator-checked-bg !important;
    }
  }
