@font-face {
  font-family: 'icons';
  src:
    url('/icon/fonts/icons.woff2?f1dij4') format('woff2'),
    url('/icon/fonts/icons.ttf?f1dij4') format('truetype'),
    url('/icon/fonts/icons.woff?f1dij4') format('woff'),
    url('/icon/fonts/icons.svg?f1dij4#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon"], [class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.big, [class*=' icon-'].big, [class^='icon-'].big {
    font-size: 40px;
}
.iconstar-outline:before {
  content: "\23";
}
.iconstar:before {
  content: "\2a";
}
.iconadd2:before {
  content: "\2b";
}
.iconremove:before {
  content: "\2d";
}
.iconmore-horiz:before {
  content: "\2e";
}
.iconcode:before {
  content: "\2f";
}
.iconrotate-right:before {
  content: "\30";
}
.icondone:before {
  content: "\31";
}
.iconsettings:before {
  content: "\36";
}
.iconstorage:before {
  content: "\37";
}
.iconlink:before {
  content: "\38";
}
.iconcolor-lens:before {
  content: "\39";
}
.iconmore-vert:before {
  content: "\3a";
}
.iconleft:before {
  content: "\3c";
}
.iconright:before {
  content: "\3e";
}
.iconuni3F:before {
  content: "\3f";
}
.iconadd-circle-outline:before {
  content: "\41";
}
.iconweb-service:before {
  content: "\42";
}
.iconMapTiler-Cloud-icon-white:before {
  content: "\43";
}
.iconMapTiler-Desktop-icon-white:before {
  content: "\44";
}
.iconMapTiler-Engine-icon-white:before {
  content: "\45";
}
.iconfeed:before {
  content: "\46";
}
.icongeoreferencer:before {
  content: "\47";
}
.iconfree-icon:before {
  content: "\48";
}
.iconfacebook:before {
  content: "\49";
}
.icongoogleplus:before {
  content: "\4a";
}
.iconklokantech2:before {
  content: "\4b";
}
.iconhamburger2:before {
  content: "\4c";
}
.iconMapTiler-Mobile-icon-white:before {
  content: "\4d";
}
.iconsocial-linkedin:before {
  content: "\4e";
}
.icondelete:before {
  content: "\4f";
}
.iconplus-icon:before {
  content: "\50";
}
.iconpinterest2:before {
  content: "\51";
}
.iconpro-icon:before {
  content: "\52";
}
.iconstart-icon:before {
  content: "\53";
}
.icontwiter2:before {
  content: "\54";
}
.iconMapTiler-Cluster-icon-white:before {
  content: "\55";
}
.iconvector:before {
  content: "\56";
}
.iconuni672:before {
  content: "\57";
}
.iconclear:before {
  content: "\58";
}
.iconyoutube-play:before {
  content: "\59";
}
.iconperson-add:before {
  content: "\5a";
}
.iconlanguage:before {
  content: "\5b";
}
.iconerase:before {
  content: "\5c";
}
.iconsearch:before {
  content: "\5d";
}
.iconraster:before {
  content: "\61";
}
.iconoctogeo-vertical:before {
  content: "\62";
}
.iconcloud:before {
  content: "\63";
}
.iconcontent-copy:before {
  content: "\64";
}
.iconeye:before {
  content: "\65";
}
.iconlaunch:before {
  content: "\66";
}
.iconuntitled:before {
  content: "\68";
}
.icongithub2:before {
  content: "\69";
}
.iconperson-outline:before {
  content: "\6b";
}
.icongauge:before {
  content: "\6c";
}
.iconMapTiler-Stroke-logo-Icon:before {
  content: "\6d";
}
.iconuni6F2:before {
  content: "\70";
}
.iconuni6F22:before {
  content: "\71";
}
.iconcrop:before {
  content: "\72";
}
.iconlogo3:before {
  content: "\73";
}
.iconprint-img:before {
  content: "\74";
}
.iconlock:before {
  content: "\75";
}
.iconlock-open:before {
  content: "\76";
}
.iconkeyboard-arrow-down2:before {
  content: "\77";
}
.iconredo:before {
  content: "\78";
}
.icongoogleplay:before {
  content: "\79";
}
.iconundo:before {
  content: "\7a";
}
.icongps-not-fixed:before {
  content: "\7b";
}
.iconmarker:before {
  content: "\7c";
}
.iconadd-circle:before {
  content: "\7d";
}
.iconperson:before {
  content: "\7e";
}
.iconsync:before {
  content: "\7f";
}
.iconvisibility:before {
  content: "\20ac";
}
.icongps-fixed2:before {
  content: "\81";
}
.iconvisibility-off:before {
  content: "\201a";
}
.iconedit:before {
  content: "\192";
}
.iconhand:before {
  content: "\201e";
}
.iconbackspace:before {
  content: "\2190";
}
.iconremove2:before {
  content: "\2212";
}
.iconremove22:before {
  content: "\2213";
}
.iconup:before {
  content: "\2227";
}
.icondown:before {
  content: "\2228";
}
.iconwunderground-logo:before {
  content: "\e600";
}
.iconnoaa_logo:before {
  content: "\e601";
}
.iconnasa-logo:before {
  content: "\e602";
}
.icongoogle-logo:before {
  content: "\e603";
}
.iconec-logo:before {
  content: "\e604";
}
.iconUSAirForce-logo:before {
  content: "\e63b";
}
.iconApple-logo:before {
  content: "\e63c";
}
.iconadd:before {
  content: "\e900";
}
.iconcommandline-icon:before {
  content: "\e901";
}
.iconCostumize-icon:before {
  content: "\e902";
}
.iconicon2:before {
  content: "\e903";
}
.iconlike:before {
  content: "\e904";
}
.iconibm:before {
  content: "\e905";
}
.iconbbc:before {
  content: "\e906";
}
.iconSiemens:before {
  content: "\e907";
}
.iconEngine-icon1-Commandline-black:before {
  content: "\e908";
}
.iconusers:before {
  content: "\e909";
}
.iconEngine-icon2-Integration-black:before {
  content: "\e90a";
}
.iconMapTiler-Server-icon-white:before {
  content: "\e90b";
}
.iconModify-icon:before {
  content: "\e90c";
}
.iconplanet-icon:before {
  content: "\e90d";
}
.iconEngine-icon3-Control-black:before {
  content: "\e90e";
}
.iconupload:before {
  content: "\e90f";
}
.iconwindows8:before {
  content: "\e910";
}
.iconlinux:before {
  content: "\e911";
}
.iconEngine-icon4-Fast-black:before {
  content: "\e912";
}
.iconDesktop-icon1-like-black:before {
  content: "\e913";
}
.iconDesktop-icon3-Modify-black:before {
  content: "\e914";
}
.iconCloud-icon1-black:before {
  content: "\e915";
}
.iconCloud-icon2-black:before {
  content: "\e916";
}
.iconCloud-icon3-black:before {
  content: "\e917";
}
.iconCloud-icon4-black:before {
  content: "\e918";
}
.iconicon4:before {
  content: "\e919";
}
.iconicon3-black:before {
  content: "\e91a";
}
.iconicon2-black:before {
  content: "\e91b";
}
.iconicon1-black:before {
  content: "\e91c";
}
.iconCluster-icon2-Dashboard-black:before {
  content: "\e91d";
}
.iconCluster-icon3-lock-black:before {
  content: "\e91e";
}
.iconCluster-icon4-Cloud-black:before {
  content: "\e91f";
}
.iconGeoPackage-icon-real:before {
  content: "\e920";
}
.iconClou-icon:before {
  content: "\e921";
}
.iconFolder-icon:before {
  content: "\e922";
}
.iconMBTiles-icon:before {
  content: "\e923";
}
.iconMobileDevices-icon:before {
  content: "\e924";
}
.iconMobile-icon1-black:before {
  content: "\e925";
}
.iconMobile-icon2-ImportMap-black:before {
  content: "\e926";
}
.iconMobile-icon3-Offline-black:before {
  content: "\e927";
}
.iconMobile-icon4-black:before {
  content: "\e928";
}
.iconmedium:before {
  content: "\e929";
}
.iconplay-arrow:before {
  content: "\e92a";
}
.iconplay-circle-fill:before {
  content: "\e92b";
}
.iconcompass:before {
  content: "\e61d";
}
