/* Body */

html {
  font-size: $font-size;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-primary;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $body-bg;
  -webkit-font-smoothing:antialiased;
}

*:focus {
  outline: none;
}

/* Boxes */
.bg-dark{
  background-color: $color-gray-dark;
  color: $color-gray-light;
}

.bg-light{
  background-color: $color-gray-light;
  color: $color-gray-dark;
}

.bg-primary{
  background-color: $color-primary;
  color: $color-gray-light;
}

.border-dark{
  border: 1px $color-gray-dark solid;
}

.border-light{
  border: 1px $color-gray-light solid;  
}

.border-primary{
  border: 1px $color-primary solid;  
}

/* Clearfix */	
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}