/* components */

.tabs{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
      @include noselect();
      font-size: $tabs-btn-fontsize;
      display: inline-block;
      cursor: pointer;
      padding: $tabs-btn-padding;
      margin: $tabs-btn-margin;
      font-weight: $tabs-btn-fontweight;
      border-bottom: $tabs-btn-border-bottom;
      color: $tabs-btn-color;

      &:first-child{
        margin-left: 0;
      }
      &:hover, &.active{
        color: $tabs-btn-color-active;
      }
      &.active{
        border-bottom: $tabs-btn-border-bottom-active;
      }
    }
  }

  .tabs-content{
    padding: $tabs-tab-padding;
    border: $tabs-tab-border;
    .tabs-tab{
      display: none;
      p{
        margin: 0;
      }
      &.active{
        display: block;
      }
    }
  }
}

/* Sync indicator */
#sync-indicator {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 50px;
  height: 40px;
  margin-left: -25px;
  font-size: 38px;
  line-height: 100%;
  font-family:'icons';
  text-align: center;
  text-shadow: 0 0 2px #ccc;
  z-index:10;
  -webkit-animation: rotanim 1s infinite ease;
  animation: rotanim 1s infinite ease;

  span {
    transform: scaleX(-1);
    display: block;
    font-family: 'icons';
  }
  #sync-syncing {display: none;}
  &.loaded #sync-loading {display: none;}
  &.loaded #sync-syncing {display: block;}
}

/* KlokanTech JavaScript components */
.popup-bg{
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: $popupbg-bg-color;
  z-index: 101;
}

.popup{
  z-index: 111;
  position: absolute;
  width: $popup-width;
  min-height: 100px;
  top: $popup-top;
  left: 50%;
  margin-left: ($popup-width / 2) * -1;
  padding: $popup-padding;
  background: $popup-bg-color;

  .popup-title{
    display: block;
    font-weight: bold;
    padding: 0 0 10px 0;
    font-size: 120%;
  }
  .popup-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'icons';
    cursor: pointer;
    color: $text-color;
    &:hover{
      text-decoration: none;
      color: darken($text-color, 20%);
    }
  }
  .popup-content{
    display: block;
  }
  .popup-actions{
    display: block;
    margin-top: 10px;
    div{
      margin-right: 10px;
    }
  }

  ul.options {
    max-height:400px;
    overflow:auto;

    li {
      cursor:pointer;
      display:block;
      padding:2px;

      &:nth-child(even) {
        background:#f9f9f9;
      }

      &:hover {
        font-weight:bold;
      }
    }
  }
}

input.working{
  background:#fff linear-gradient(90deg, #ddf, #2066a0, #ddf);
  background-size: 180px 2px;
  background-repeat: repeat-x;
  animation: bkganim .9s infinite linear;
}
@keyframes bkganim {
  0% {background-position:0px 100%;}
  100% {background-position:180px 100%;}
}

.ac-renderer{
  position: absolute;
  border: 1px solid $color-gray;
  margin-top: -1px;
  max-width: 400px;
}
.ac-row {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  overflow: hidden !important;
  text-overflow: ellipsis;
  
  .suffix {
    font-size:.8em;
    color:#ccc;
    padding:.1em 0 .1em 5px;
  }

  .type {
    font-size:.7em;
    color:#aaa;
    display:block;
    width:100%;
  }
}
.ac-highlighted {font-weight: bold;}
.ac-active {color: $color-gray-dark; background-color: $color-gray-light;}
.ac-type {
  background-color: #990033;
  color: #FFFFFF;
  display: block;
  margin: 2px;
  padding: 2px;
  font-style: italic;
  float: right;
}

/* MULTICOMPLETE */
.multicomplete {
  background-color:#fff;
  border: 1px solid $color-gray;
  cursor:text;
  display: block;
  padding: 2px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0;
  input {
    border:0 !important;
    outline:0 !important;
    margin:0 !important;
    padding:0 !important;
    height:23px;
  }
  div {
    display:inline-block;
    position:relative;
    font-size:11px;
    padding: 3px 18px 3px 5px;
    margin: 0 4px 2px 0;
    cursor:default;
    border-radius: $border-radius / 2;
    background-color: $multicomplete-tag-bg-color;
    color: #fff;
    a {
      display:block;
      width:10px;
      height:10px;
      position:absolute;
      top:3px;right:2px;
      text-decoration:none;
      color: #fff;
      font-size:10px;
      &:hover {
        color: $color-gray-dark;
      }
    }
    .mc-tag-remove{
      font-family: 'icons';
    }
  }
}

.notice{
  text-align: center;
  position: fixed;
  left: 0; right: 0;
  bottom:0;
  height: 50px;
  background-color: $color-gray-light;
  p{
    display: inline-block;
    margin: 15px 30px
  }
  button{
    display: inline-block;
    height: 30px;
    padding: 4px 10px;;
  }
}
