@font-face {
  font-family: 'icons';
  src:
    url('/fonts/icons.woff2?z0wk5y') format('woff2'),
    url('/fonts/icons.ttf?z0wk5y') format('truetype'),
    url('/fonts/icons.woff?z0wk5y') format('woff'),
    url('/fonts/icons.svg?z0wk5y#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon,
[class*=' icon-'],
[class^='icon-'] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;

  &.big {
    font-size: 40px;
  }

  &.bigger,
  &.large {
    font-size: 60px;
  }
}
