/* Forms */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin: $label-margin;
  font-weight: $label-fontweight;
  font-size: $label-font-size;
  color: $label-color;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea{
  padding: $input-padding;
  margin: $input-margin;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  font-family: $font-primary;
  font-size: $input-font-size;
  vertical-align: middle;

  &.stretch{
    width: 100%;
  }

  &:active, &:focus{
    color: $input-color-active;
    border-color: $input-border-color-active;
    box-shadow: $input-box-shadow-active;
  }

  &:disabled{
    color: lighten($input-color, 10%);
    background: darken($input-bg, 5%);
  }

}

input[type='text'], textarea{
  min-width: 260px;
}

input[type='submit'], input[type='button']{
  cursor: pointer;

  &:not(.btn):hover{
      color: $input-border-color-active;
      border-color: $input-border-color-active;
  }
}

input[type='submit'].btn, input[type='button'].btn{
  margin-top: ($line-height-computed / 2);
}

input[type='checkbox'].fancy {
  display:none;
}

input[type='checkbox'].fancy + label span, input[type='radio'].fancy + label span:before  {
  position: relative;
  content: '';
  width: $checkbox-size;
  height: $checkbox-size;
  display: inline-block;
  margin: -2px 8px -5px 0;
  cursor: pointer;
  border: 2px solid $checkbox-color;
  border-radius: $input-border-radius;
  font-weight: normal;
}

input[type='checkbox'].fancy + label span{
  width: $checkbox-size - 2;
  height: $checkbox-size - 2;
}

input[type='checkbox'].fancy:checked + label span:before {
  content: '';
  width: $checkbox-size / 3.5;
  height: $checkbox-size / 5 * 3;
  border-bottom: 3px solid $checkbox-check-color;
  border-right: 3px solid $checkbox-check-color;
  position: absolute;
  left: $checkbox-size / 4.5;
  top: $checkbox-size / 50;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(40deg);
}

input[type='radio'].fancy + label span:before{
  border-radius: 50%;
}

input[type='radio'].fancy {
  display: none;
}

input[type='radio'].fancy:checked + label span:before {
  background: $checkbox-check-color;
  -webkit-box-shadow:inset 0px 0px 0px 3px $body-bg;
  -moz-box-shadow:inset 0px 0px 0px 3px $body-bg;
  box-shadow:inset 0px 0px 0px 3px $body-bg;
}

input[type='file'] {
  display: block;
}

input[type='range'] {
  display: block;
  width: 100%;
}

select[multiple], select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

output {
  display: block;
  padding-top: ($padding-y + 1);
  font-size: $font-size;
  line-height: $line-height;
  color: $input-color;
}


input[type="search"] {
  -webkit-appearance: none;
}

input.search{
  min-width: $line-height-computed * 2;
  font-family: 'icons';
  font-size: 22px;
  margin-left: -1px;
}

input:focus + input.search{
  background: $color-primary;
  color: #fff;
  border: 1px solid $color-primary;

  &:hover{
    color: #fff;
    background: darken($color-primary, 10%);
  }
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  padding: $input-padding;
  margin: $input-margin;
  line-height: $input-line-height;
  font-size: $input-font-size;
}

form{
  ul, li{
    margin: 0;
    list-style-type: none;
  }

  ul li label{
    display: inline-block;
    font-weight: normal;
  }
}
