/* Forms */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin: $label-margin;
  font-weight: $label-fontweight;
  font-size: $label-font-size;
  color: $label-color;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
textarea {
  padding: $input-padding;
  margin: $input-margin;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  font-family: $font-primary;
  font-size: $input-font-size;
  vertical-align: middle;

  &.stretch {
    width: 100%;
  }

  &:active,
  &:focus {
    color: $input-color-active;
    border-color: $input-border-color-active;
    box-shadow: $input-box-shadow-active;
  }

  &:disabled, &:read-only {
    color: lighten($input-color, 10%);
    background: darken($input-bg, 5%);
  }
}

input[type='text'],
textarea {
  min-width: 260px;
}

input[type='button'],
input[type='submit'] {
  cursor: pointer;

  &.search:hover {
    color: $input-border-color-active;
    border-color: $input-border-color-active;
  }
}

input[type='checkbox'].fancy {
  display: none;
}

input[type='checkbox'].fancy + label span,
input[type='radio'].fancy + label span:before {
  position: relative;
  content: '';
  width: $checkbox-size;
  height: $checkbox-size;
  display: inline-block;
  margin: -2px 8px -5px 0;
  cursor: pointer;
  border: 2px solid $checkbox-color;
  border-radius: $input-border-radius;
  font-weight: normal;
}

input[type='checkbox'].fancy + label span {
  width: $checkbox-size - 2;
  height: $checkbox-size - 2;
}

input[type='checkbox'].fancy:checked + label span:before {
  content: '';
  width: $checkbox-size / 3.5;
  height: $checkbox-size / 5 * 3;
  border-bottom: 3px solid $checkbox-check-color;
  border-right: 3px solid $checkbox-check-color;
  position: absolute;
  left: $checkbox-size / 4.5;
  top: $checkbox-size / 50;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(40deg);
}

input[type='radio'].fancy + label span:before {
  border-radius: 50%;
}

input[type='radio'].fancy {
  display: none;
}

input[type='radio'].fancy:checked + label span:before {
  background: $checkbox-check-color;
  box-shadow: inset 0 0 0 3px $body-bg;
}

$switcher-padding: 3px;
$switcher-btn-height: $checkbox-size - ($switcher-padding * 2);

.switch {
  position: relative;
  display: inline-block;
  width: $checkbox-size * 2 - ($switcher-padding * 2);
  height: $checkbox-size;
  margin: 0;

  input {
    display: none;
  }

  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: $checkbox-size;

    &:before {
      position: absolute;
      content: "";
      height: $switcher-btn-height;
      width: $switcher-btn-height;
      left: $switcher-padding;
      bottom: $switcher-padding;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + span, &.equal input + span{
    background-color: $color-primary;
  }

  &.success input:checked + span{
    background-color: $color-success;
  }

  input:focus + span {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + span:before {
    -webkit-transform: translateX($switcher-btn-height);
    -ms-transform: translateX($switcher-btn-height);
    transform: translateX($switcher-btn-height);
  }
}

input[type='file'] {
  display: block;
}

input[type='range'] {
  display: block;
  width: 100%;
}

select {
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  background: $input-bg;
  color: $input-color;
  padding: $input-padding;
  font-size: $input-font-size;
  height: $input-line-height + (2 * $input-padding);

  &:focus {
    border: 1px solid $input-border-color-active;
  }

  &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $input-color transparent transparent transparent;
  }
}

select[multiple],
select[size] {
  height: auto;
}

input[type='checkbox']:focus,
input[type='file']:focus,
input[type='radio']:focus {
  outline: none;
}

output {
  display: block;
  padding-top: ($padding-y + 1);
  font-size: $font-size;
  line-height: $line-height;
  color: $input-color;
}

input[type='search'] {
  -webkit-appearance: none;
}

input.search {
  min-width: $line-height-computed * 2;
  font-family: 'icons';
  font-size: 22px;
  margin-left: -1px;
}

input:focus + input.search {
  background: $color-primary;
  color: #fff;
  border: 1px solid $color-primary;

  &:hover {
    color: #fff;
    background: darken($color-primary, 10%);
  }
}

input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
  padding: $input-padding;
  margin: $input-margin;
  line-height: $input-line-height;
  font-size: $input-font-size;
}

form {
  li,
  ul {
    margin: 0;
    list-style-type: none;
  }

  ul li label {
    display: inline-block;
    font-weight: normal;
  }
}
