/* Grid */

$grid-screens: ( 
// screen, include offsets (boolean)
($sc-small, false),
($sc-medium, false),
($sc-medium, true)
);

.container {
  max-width: $container-max;
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

%grid-base {
  float: left;
  width: 100%;
}

@each $grid, $width in ($grid-sizes) {
  .#{$grid} {
    @extend %grid-base;
  }
}

/* Reverses order of blocks in grid */
.flip {float: right;}

@each $screen, $offset in ($grid-screens){
  @media (min-width: $screen) {
    @each $grid, $width in ($grid-sizes) {
      @if $screen < $sc-medium {
        .#{$grid} {
          @if $width >= 50 {
            width: 100%;
          } @else {
            width: 50%;
          }
        }
      } @else {
        .#{$grid} {width: $width + 0%;}
      }
    }
    @if $offset {
      @each $grid, $width in ($grid-sizes) {
        .offset#{str-slice($grid, 4)} {margin-left: $width + 0%;}
      }
    }
  }
}

/* Add clearfix */
.container, .row {
  @extend .clearfix;
}

/* Image grid */ 
.col-img {
  border: none;
  float: left;
  @media (min-width: $sc-medium)  {width: 50%;}
  @media (min-width: $sc-large)  {width: 25%;}
}
