/* Helpers */

a.box:hover {
  text-decoration: none !important;
}

a.box p {
  color: $text-color;
}
a img:hover{
  transition: all 0.3s ease;
  filter: brightness(90%);
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.pointer {
  cursor: pointer;
}

.clearfix:after{clear: both;}
.clip{overflow: hidden;}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullscreen{
  width: 100%;
  height: 100%;
}

.overflow-no{
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mob-scrollable, .scrollable-mob{
  @media(max-width: $sc-small) {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
}
.text-hyphenate {
  /* use this to avoid long words from flowing out of the container */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* List types*/

.dot-list{
  list-style-type: disc;
}
.number-list {
  list-style-type: decimal;
}
.square-list{
  list-style-type: square;
}
.empty-list{
  list-style-type: none;
}
/* width % */

@for $i from 0 through 10 {
  .width-#{$i}0 {
    width : round(percentage($i/10));
  }
}
@for $i from 0 through 10 {
  .width-#{$i}5 {
    width : round(percentage($i/10))+ 5;
  }
}
@media (max-width: $sc-small) {
  .width-100-mob {
    width: 100%;
  }
}
/* display */

.inline{
  display: inline-block !important;
}
.block{
  display: block;
}
.inline-no-block{
  display: inline;
}
.hidden{
  display: none !important;
}

/* positioning */

.contain{position: relative;}
.absolute{position: absolute;}
.relative {position: relative;}
.float-left{float: left;}
.float-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.middle {vertical-align: middle;}
.stick-left{left: 0;}
.stick-right{right: 0;}
.stick-top{top: 0;}
.stick-bottom{bottom: 0;}
center, .center, .text-center{text-align: center;}
.center-mob, .mob-center {
  @media(max-width: $sc-small) {
    text-align: center;
  }
}
@for $i from 1 through 25 {
  .z-#{$i} {
    z-index: $i;
  }
}
.skewed {
  -webkit-transform: skewY($skew);
  transform: skewY($skew);
}

.unskewed {
  -webkit-transform: skewY($skew* -1);
  transform: skewY($skew* -1);
}

/* Rounding */

.round{border-radius: $radius-all;}
.circle {border-radius: 50%;}
.round-top {border-top-left-radius: $radius-all; border-top-right-radius: $radius-all;}
.round-bottom {border-bottom-left-radius: $radius-all; border-bottom-right-radius: $radius-all;}
.round-left {border-top-left-radius: $radius-all; border-bottom-left-radius: $radius-all;}
.round-right {border-top-right-radius: $radius-all; border-bottom-right-radius: $radius-all;}
.round-top-left{border-top-left-radius: $radius-top-left;}
.round-top-right{border-top-right-radius: $radius-top-right;}
.round-bottom-right{border-bottom-right-radius: $radius-bottom-right;}
.round-bottom-left{border-top-bottom-radius: $radius-bottom-left;}

/* shadows */

.shadow1{box-shadow: $shadow1;}
.shadow2{box-shadow: $shadow2;}
.shadow3{box-shadow: $shadow3;}
.shadow4{box-shadow: $shadow4;}
.no-shadow{box-shadow: none !important;}

/* Borders */

@each $name, $size, $type, $color in ($borders){
  .border-#{$name} {border: #{$size} #{$type} #{$color};}
  .bordertop-#{$name} {border-top: #{$size} #{$type} #{$color};}
  .borderright-#{$name} {border-right: #{$size} #{$type} #{$color};}
  .borderbottom-#{$name} {border-bottom: #{$size} #{$type} #{$color};}
  .borderleft-#{$name} {border-left: #{$size} #{$type} #{$color};}
}
.border-no {
  border: none !important;
}

/* Margins */
.mar-no, .mar-0, .no-margin{margin: 0 !important;}
.mary-no, .mary-0{margin-top: 0 !important; margin-bottom: 0 !important;}
.marx-no, .marx-0{margin-left: 0 !important; margin-right: 0 !important;}
.martop-no, .mart-0{margin-top: 0 !important;}
.marright-no, .marr-0{margin-right: 0 !important;}
.marbottom-no, .marb-0{margin-bottom: 0 !important;}
.marleft-no, .marl-0{margin-left: 0 !important;}

.pad-no, .pad-0, .no-padding{padding: 0 !important;}
.pady-no, .pady-0{padding-top: 0 !important; padding-bottom: 0 !important;}
.padx-no, .padx-0{padding-left: 0 !important; padding-right: 0 !important;}
.padtop-no, .padt-0{padding-top: 0 !important;}
.padright-no, .padr-0{padding-right: 0 !important;}
.padbottom-no, .padb-0{padding-bottom: 0 !important;}
.padleft-no, .padl-0{padding-left: 0 !important;}


/* Padding */


@for $i from 1 through 10 {
  .pad-#{$i} {
    padding: $i*10px;
  }
}
@for $i from 1 through 10 {
  .padx-#{$i} {
    padding-left: $i*10px;
    padding-right: $i*10px;
  }
}
@for $i from 1 through 10 {
  .pady-#{$i} {
    padding-top: $i*10px;
    padding-bottom: $i*10px;

  }
}
@for $i from 1 through 10 {
  .padb-#{$i} {
    padding-bottom: $i*10px;
  }
}

@for $i from 1 through 10 {
  .padt-#{$i} {
    padding-top: $i*10px;
  }
}
@for $i from 1 through 10 {
  .padl-#{$i} {
    padding-left: $i*10px;
  }
}
@for $i from 1 through 10 {
  .padr-#{$i} {
    padding-right: $i*10px;
  }
}

/* pad mobile*/
@for $i from 0 through 10 {
    .padx-#{$i}-mob {
      @media (max-width: $sc-medium){
        padding-left: $i*10px;
        padding-right: $i*10px;
    }
  }
}
@for $i from 0 through 10 {
    .pady-#{$i}-mob {
      @media (max-width: $sc-medium){
        padding-top: $i*10px;
        padding-bottom: $i*10px;
    }
  }
}

/* Margin */

@for $i from 1 through 10 {
  .mar-#{$i} {
    margin: $i*10px;
  }
}
@for $i from 1 through 10 {
  .marx-#{$i} {
    margin-left: $i*10px;
    margin-right: $i*10px;
  }
}
@for $i from 1 through 10 {
  .mary-#{$i} {
    margin-top: $i*10px;
    margin-bottom: $i*10px;
  }
}
@for $i from 1 through 10 {
  .marb-#{$i} {
    margin-bottom: $i*10px;
  }
}

@for $i from 1 through 10 {
  .mart-#{$i} {
    margin-top: $i*10px;
  }
}
@for $i from 1 through 10 {
  .marl-#{$i} {
    margin-left: $i*10px;
  }
}
@for $i from 1 through 10 {
  .marr-#{$i} {
    margin-right: $i*10px;
  }
}
@for $i from 1 through 8 {
  .mart-#{$i}-minus {
    margin-top: $i*-10px;
  }
}
@for $i from 1 through 8 {
  .marr-#{$i}-minus {
    margin-right: $i*-10px;
  }
}
@for $i from 1 through 8 {
  .marb-#{$i}-minus {
    margin-bottom: $i*-10px;
  }
}
@for $i from 1 through 8 {
  .marl-#{$i}-minus {
    margin-left: $i*-10px;
  }
}

/* margin mob */
@for $i from 0 through 10 {
    .mary-#{$i}-mob {
      @media (max-width: $sc-medium){
        margin-top: $i*10px;
        margin-bottom: $i*10px;
    }
  }
}
@for $i from 0 through 10 {
    .marx-#{$i}-mob {
      @media (max-width: $sc-medium){
        margin-left: $i*10px;
        margin-right: $i*10px;
    }
  }
}

/* Sizes */
@for $i from 1 through 10 {
  .min-height-#{$i} {
    min-height: $i*100px;
  }
}
@for $i from 1 through 10 {
  .min-width-#{$i} {
    min-width: $i*100px;
  }
}
/* colors */
.primary{color: $color-primary;}
.secondary{color: $color-secondary;}
.gray-light{color: $color-gray-light;}
.gray{color: $color-gray;}
.gray-dark{color: $color-gray-dark;}
.info{color: $color-info;}
.success{color: $color-success;}
.warning{color: $color-warning;}
.danger, .error{color: $color-error;}
.white{color: #ffffff;}
.black{color: #000000;}

.bg-primary{background-color: $color-primary;}
.bg-secondary{background-color: $color-secondary;}
.bg-gray-light{background-color: $color-gray-light;}
.bg-gray{background-color: $color-gray;}
.bg-gray-dark{background-color: $color-gray-dark;}
.bg-success{background-color: $color-success;}
.bg-warning{background-color: $color-warning;}
.bg-danger, .bg-error{background-color: $color-error;}
.bg-white{background-color: #ffffff;}
.bg-black{background-color: #000000;}

.cloud{color: #0E61C6;}
.cloud-s{color: #2B8BFB;}
.desktop{color: #724FA7;}
.desktop-s{color: #A82AB6;}
.mobile{color: #00D5DF;}
.engine{color: #E58035;}
.engine-s{color: #FF6F4C;}
.cluster{color: #E58035;}
.cluster-s{color: #FFC957;}
.server{color: #E6353D;}

/* Syntax */
.highlight{
  margin: 20px 0;
}
.uppercase {
  text-transform: uppercase;
}
.no-text-dec {
  text-decoration: none !important;
}

.language-html{
  .nt{
    color: $color-warning;
  }
  .na{
    color: $color-success;
  }
  .s{
    color: $color-error;
  }
  .c{
    color: $color-gray-dark;
    font-style: italic;
  }
}

@for $i from 10 through 30 {
  .line-#{$i} {
    line-height: $i/10;
  }
}
