/* Map styling */
.map-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-controls {
  -webkit-box-shadow: $map-control-boxshadow;
  -moz-box-shadow: $map-control-boxshadow;
  box-shadow: $map-control-boxshadow;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;

  &.horizontal {
    a {
      display: inline-block;
    }
  }

  &.top-left {
    position: absolute;
    top: $map-control-offset-topbottom;
    left: 0;
  }

  &.top-right {
    position: absolute;
    top: $map-control-offset-topbottom;
    right: 0;
  }

  &.left {
    position: absolute;
    top: 50%;
    left: $map-control-offset-leftright;
  }

  &.right {
    position: absolute;
    top: 50%;
    right: $map-control-offset-leftright;
  }

  &.bottom-left {
    position: absolute;
    bottom: $map-control-offset-topbottom;
    left: $map-control-offset-leftright;
  }

  &.bottom-right {
    position: absolute;
    bottom: $map-control-offset-topbottom;
    right: $map-control-offset-leftright;
  }

  &.hidden,
  .hidden {
    display: none;
  }

  &.visible,
  .visible {
    display: inline !important;
  }

  .tooltip {
    position: absolute;
    left: $map-control-size + 1px;
    margin-top: -($map-control-size + 1px);
    height: $map-control-size;
    width: 300px;
    display: block;
    vertical-align: middle;
    line-height: $map-control-size;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
  }
}

.map-controls a,
.ol-control button {
  font-family: 'icons';
  display: block;
  position: relative;
  color: $map-control-color;
  background: $map-control-bg;
  text-decoration: none;
  width: $map-control-size;
  height: $map-control-size;
  font-size: $map-control-size * 0.6;
  line-height: $map-control-size;
  text-align: center;
  font-weight: bold;
  margin: $map-control-margin;
  z-index: 2;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  border: $map-control-border;

  &.primary {
    color: $map-control-primary-color;
    background: $map-control-primary-bg;
    border: $map-control-primary-border;

    &:active,
    &:focus,
    &:hover {
      color: $map-control-primary-hover-color;
      background: $map-control-primary-hover-bg;
      border: $map-control-primary-hover-border;
    }
  }

  &:active,
  &:focus,
  &:hover {
    color: $map-control-hover-color;
    background: $map-control-hover-bg;
    border: $map-control-hover-border;
  }

  &.disabled,
  .disabled {
    background-color: darken($map-control-bg, 10%);
  }

  span:first-child {
    display: none;
  }

  span:last-child {
    display: block;
  }

  &.enabled,
  .enabled {
    color: $map-control-enabled-color;
    background: $map-control-enabled-bg;
    border: $map-control-enabled-border;
    z-index: 12;

    span:first-child {
      display: block;
    }

    span:last-child {
      display: none;
    }
  }
}

.ol-control,
.ol-control:hover {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.ol-scale-line {
  background: transparent;
}

.ol-scale-line-inner {
  border: 1px solid #fff;
  border-top: none;
  color: #fff;
}

.ol-popup {
  pointer-events: none;
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 10px;
  border-radius: $radius-all;
  border: 1px solid $color-gray-light;
  bottom: 12px;
  left: -50px;
  font-size: 11px;
  min-width: 150px;

  &:after,
  &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }

  &:before {
    border-top-color: $color-gray-light;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }

  .inspect-layer {
    font-weight: bold;
  }

  .inspect-row {
    display: table-row;
    line-height: 1.8;
  }

  .inspect-name,
  .inspect-value {
    display: table-cell;
  }

  .inspect-value {
    padding-left: 10px;
  }
}

.map-layerswitcher {
  position: absolute;
  background: rgba(255,255,255,0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 55px;
  z-index: 101;
  display: none;
  overflow-y: auto;

  &.visible {
    display: block;
  }

  .thumb {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 170px;
    height: 170px;
    margin: 10px 12px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 0 rgba(132, 135, 136, 0.3);
    -moz-box-shadow: 0 0 3px 0 rgba(132, 135, 136, 0.3);
    box-shadow: 0 0 3px 0 rgba(132, 135, 136, 0.3);
    cursor: pointer;

    .preview {
      background: $color-gray-light;
      width: 170px;
      height: 170px;
    }

    .remover {
      position: absolute;
      top: 8px;
      right: 8px;
      background: $color-gray;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      border-radius: 8px;
      color: #fff;
      font-family: 'icons';
      font-size: 12px;
      text-decoration: none;

      &:hover {
        background: $color-primary;
      }
    }

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255,255,255,0.85);
      font-size: 12px;
      padding: 6px;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    &:not(.default) {
      &:before {
        content: 'custom';
        position: absolute;
        top: 20px;
        left: -30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: $color-primary;
        color: #fff;
        width: 120px;
        font-size: 0.9em;
        opacity: 0.9;
      }
    }

    &.active,
    &:hover {
      -webkit-box-shadow: 0 0 0 1px $color-primary;
      -moz-box-shadow: 0 0 0 1px $color-primary;
      box-shadow: 0 0 0 1px $color-primary;

      .name {
        color: $color-primary;
      }
    }
  }
}
/* map small */
#map,
#map-raster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-raster {
  display: none;
}

.map-type-wrap .switch {
  margin: -8px 5px -5px 10px;
}

#map-type-raster,
#map-type-vector {
  width: 75px;
  display: inline-block;
}

.map-controls a.map-controls-text {
  font-family: $font-primary !important;
  font-size: 16px;
}

#map-fullscreen-btn,
.map-type-wrap {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 12px;
  z-index: 85;
  background: #fff;
  border-radius: 4px;
  opacity: 0.9;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  white-space: nowrap;
}

#map-language {
  position: absolute;
  top: 52px;
  left: 10px;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  border-radius: 4px;
}

#map-fullscreen-btn {
  margin: 0 5px;
  position: absolute;
  left: auto;
  right: 50px;
  cursor: pointer;
  font-size: 14px;

  &:after {
    content: 'e';
    display: inline-block;
    font-family: 'icons';
    margin-left: 5px;
    font-size: 16px;
    position: relative;
    top: -1px;
    vertical-align: sub;
  }

  &:hover {
    text-decoration: none;
  }
}

.map-wrap {
  position: relative !important;
  height: 603px;

  &.fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #f2f3f6;
    z-index: 80;

    .leaflet-top.leaflet-right,
    .mapboxgl-ctrl-top-right {
      top: 83px;
      right: 10px;
    }
  }
}
/* map fullscreen */
.map-type-wrap.fullscreen {
  top: 80px;
  left: 20px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: auto;
  height: auto;
  @media(max-width: $sc-medium) {
    font-size: 12px;
    padding: 6px 0 5px;
    top: 127px;
    left: 15px;
  }
}

.map-wrap.fullscreen #map-fullscreen-btn {
  &:before {
    content: 'X';
    display: inline-block;
    font-family: 'icons';
    margin-right: 4px;
    font-size: 18px;
    vertical-align: sub;
  }

  &:after {
    display: none;
  }
}

#map-language.fullscreen {
  width: auto;
  height: auto;
  top: 130px;
  left: 20px;
  @media(max-width: $sc-medium) {
    padding: 7px !important;
    bottom: 10px;
    left: 10px;
    top: unset !important;
  }
}
/* map types switcher */
.map-switcher {
  div {
    width: 100%;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
    color: $color-gray-dark;
    height: 85px;

    &:hover,
    .active {
      color: #000;
    }

    &:last-child {
      height: 85px;
      border-bottom: 1px solid #e4e4e4;
    }

    span {
      position: absolute;
      margin: 30px 30px 30px 115px;
    }
  }
}

.map-switcher.fullscreen {
  bottom: 110px;
  overflow-y: auto;
  position: fixed;
  left: 15px;
  top: 190px;
  z-index: 86;
  width: auto;
  height: auto;
  -webkit-mask-image: linear-gradient(0deg,transparent,#000 10px,#000 calc(100% - 10px),transparent);
  @media(max-width: $sc-medium) {
    bottom: 65px;
    left: 15px;
    top: 155px;
  }

  .map-switch {
    width: 85px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border: 0;

    img {
      border-radius: 4px;
    }

    span {
      display: none;
    }
  }
}

.map-switch {
  background-size: 85px 85px;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
  @media(max-width: $sc-medium) {
    width: 55px !important;
    height: 55px !important;
  }
}

.map-switch.customize {
  padding: 5px 0 10px;
  font-size: 12px;
  display: block;
  line-height: 1.2;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 85px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  z-index: 100;

  &:hover {
    text-decoration: none;
    background: lighten($color-primary, 5%);
  }

  &:before {
    content: '9';
    font-family: 'icons';
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    display: block;
  }
  @media(max-width: $sc-medium) {
    padding: 8px 0;
    bottom: 80px;
  }
}

span.map-switch-customize-text {
  display: inline !important;
  @media(max-width: $sc-medium) {
    display: none !important;
  }
}

#map-switch-streets {
  background-image: url("/img/cloud/slider/streets.png");
}

#map-switch-satellite {
  background-image: url("/img/cloud/slider/satellite.png");
}

#map-switch-topo {
  background-image: url("/img/cloud/slider/topo.png");
}

#map-switch-bright {
  background-image: url("/img/cloud/slider/bright.png");
}

#map-switch-basic {
  background-image: url("/img/cloud/slider/basic.png");
}

#map-switch-positron {
  background-image: url("/img/cloud/slider/positron.png");
}

#map-switch-darkmatter {
  background-image: url("/img/cloud/slider/dark-matter.png");
}
/* mapbox fix */
.mapboxgl-ctrl-top-right {
  position: absolute;
  top: $map-control-offset-topbottom;
  right: 10px;
}

.mapboxgl-ctrl-top-left {
  position: relative;
  top: $map-control-offset-topbottom;
  left: 10px;
}

.mapboxgl-ctrl-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mapboxgl-ctrl .mapboxgl-ctrl-group {
  -webkit-box-shadow: $map-control-boxshadow;
  -moz-box-shadow: $map-control-boxshadow;
  box-shadow: $map-control-boxshadow;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mapboxgl-ctrl-icon {
  &:first-child {
    border-top-left-radius: $radius-all;
    border-top-right-radius: $radius-all;
  }

  &:last-child {
    border-bottom-left-radius: $radius-all;
    border-bottom-right-radius: $radius-all;
  }
  font-family: 'icons';
  display: block;
  width: $map-control-size;
  height: $map-control-size;
  font-size: $map-control-size * 0.6;
  line-height: $map-control-size;
  text-align: center;
  margin: $map-control-margin;
  z-index: 2;
  cursor: pointer;
  z-index: 10;
  border: none;
  box-shadow: $shadow3;
  background-color: $map-control-bg;

  &:hover {
    background: darken($map-control-bg, 5%);
    border: none;
  }
}

.mapboxgl-ctrl-zoom-out::before {
  content: '-';
  color: $color-secondary;
  font-family: 'icons';
  position: relative;
  top: -1px;
}

.mapboxgl-ctrl-zoom-in {
  &::before {
    content: '+';
    color: $color-secondary;
    font-family: 'icons';
    position: relative;
    top: -1px;
  }
  border-bottom: 2px solid $color-gray;

  &:hover {
    border: none;
  }
}

.mapboxgl-ctrl-compass {
  padding: 0;
  border-top: 1px solid $color-gray;

  &:hover {
    border: none;

    span {
      margin-top: 1px;
    }
  }
}

.mapboxgl-ctrl-compass-arrow {
  color: $color-secondary;
  background: url("/img/icon/compass.svg");
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
}

.mapboxgl-ctrl-fullscreen {
  &::before {
    content: "e";
    color: $color-secondary;
    font-family: icons;
    position: relative;
    top: -1px;
  }
}

.mapboxgl-ctrl-shrink {
  &::before {
    content: "X";
    color: $color-secondary;
    font-family: icons;
    position: relative;
    top: -1px;
  }
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  padding: 2px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  font-size: 10px;

  a {
    color: $color-gray-dark;
  }
}
