/* Map styling */

.map-fullscreen{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-controls {
  -webkit-box-shadow: $map-control-boxshadow;
  -moz-box-shadow: $map-control-boxshadow;
  box-shadow: $map-control-boxshadow;

  &.horizontal{
    a{
      display: inline-block;
    }
  }

  &.top-left{
    position: absolute;
    top: $map-control-offset-topbottom;
    left: 0;
  }
  &.top-right{
    position: absolute;
    top: $map-control-offset-topbottom;
    right: 0;
  }
  &.left{
    position: absolute;
    top: 50%;
    left: $map-control-offset-leftright;
  }
  &.right{
    position: absolute;
    top: 50%;
    right: $map-control-offset-leftright;
  }
  &.bottom-left{
    position: absolute;
    bottom: $map-control-offset-topbottom;
    left: $map-control-offset-leftright;
  }
  &.bottom-right{
    position: absolute;
    bottom: $map-control-offset-topbottom;
    right: $map-control-offset-leftright;
  }

  .hidden, &.hidden{
    display: none;
  }
  .visible, &.visible{
    display: inline !important;
  }

  .tooltip{
    position: absolute;
    left: $map-control-size + 1px;
    margin-top: -($map-control-size + 1px);
    height: $map-control-size;
    width: 300px;
    display: block;
    vertical-align: middle;
    line-height: $map-control-size;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
  }
}

.map-controls a, .ol-control button{
  font-family: 'icons';
  display: block;
  position:relative;
  color: $map-control-color;
  background: $map-control-bg;
  text-decoration:none;
  width: $map-control-size;
  height: $map-control-size;
  font-size: $map-control-size * 0.6;
  line-height: $map-control-size;
  text-align: center;
  font-weight: bold;
  margin: $map-control-margin;
  z-index:2;
  font-weight: bold;
  cursor:pointer;
  z-index:10;
  border: $map-control-border;

  &.primary{
    color: $map-control-primary-color;
    background: $map-control-primary-bg;
    border: $map-control-primary-border;

    &:hover, &:active, &:focus{
      color: $map-control-primary-hover-color;
      background: $map-control-primary-hover-bg;
      border: $map-control-primary-hover-border;
    }
  }

  &:hover, &:active, &:focus{
    color: $map-control-hover-color;
    background: $map-control-hover-bg;
    border: $map-control-hover-border;
  }

  .disabled, &.disabled{
    background-color: darken($map-control-bg, 10%);
  }

  span:first-child{
    display: none;
  }
  span:last-child{
    display: block;
  }

  .enabled, &.enabled{
    color: $map-control-enabled-color;
    background: $map-control-enabled-bg;
    border: $map-control-enabled-border;
    z-index: 12;

    span:first-child{
      display: block;
    }
    span:last-child{
      display: none;
    }
  }
}

.ol-control, .ol-control:hover{
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.ol-zoom .ol-zoom-out{
  font-size: 30px;
  line-height: 31px;
  font-weight: bold;
}

.ol-scale-line{
  background: transparent;
}

.ol-scale-line-inner {
    border: 1px solid #fff;
    border-top: none;
    color: #fff;
}

.map-layerswitcher {
  position: absolute;
  background: rgba(255,255,255,0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 55px;
  z-index: 101;
  display:none;
  overflow-y: auto;

  &.visible {
    display:block;
  }

  .thumb {
    display:inline-block;
    position:relative;
    overflow:hidden;
    text-align:center;
    width: 170px;
    height: 170px;
    margin: 10px 12px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(132, 135, 136, 0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(132, 135, 136, 0.3);
    box-shadow: 0px 0px 3px 0px rgba(132, 135, 136, 0.3);
    cursor:pointer;

    .preview {
      background: $color-gray-light;
      width: 170px;
      height: 170px;
    }

    .remover {
      position:absolute;
      top: 8px;
      right: 8px;
      background: $color-gray;
      width: 16px;
      height:16px;
      text-align: center;
      line-height: 16px;
      border-radius: 8px;
      color: #fff;
      font-family: 'icons';
      font-size: 12px;
      text-decoration: none;

      &:hover {
        background: $color-primary;
      }
    }

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255,255,255,0.85);
      font-size: 12px;
      padding: 6px 6px;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    &:not(.default) {
      &:before {
        content: 'custom';
        position: absolute;
        top: 20px;
        left: -30px;
        -webkit-transform:rotate(-45deg);
        transform:rotate(-45deg);
        background: $color-primary;
        color: #fff;
        width: 120px;
        font-size: 0.9em;
        opacity: 0.9;
      }
    }

    &.active, &:hover {
      -webkit-box-shadow: 0px 0px 0px 1px $color-primary;
      -moz-box-shadow: 0px 0px 0px 1px $color-primary;
      box-shadow: 0px 0px 0px 1px $color-primary;
      .name {
        color: $color-primary;
      }
    }
  }
}
