/* Mixins */
@mixin btn(){
  display: inline-block;
  text-align: center;
  margin: 0;
  position: relative;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: $btn-fontweight;
  line-height: $btn-lineheight;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  letter-spacing: $btn-letterspacing;
  text-transform: $btn-texttransform;
}

@mixin btn-color($color, $background, $hover, $hover-background, $shadow) {
  color: $color;
  background-color: $background;
  background: $background;
  border: none;
  box-shadow: $shadow;

  &:hover,
    &:focus,
    &:active,
    &.active{
    color: $hover;
    background: $hover-background;
  }
}

@mixin btn-color-stroke($color, $background, $border, $hover, $hover-background, $hover-border) {
  color: $color;
  background: $background;
  border: $border;
  border-color: $border;

  &:hover,
    &:focus,
    &:active,
    &.active{
    color: $hover;
    background-color: transparent;
    border-color: $hover-border;
  }
}

@mixin btn-size($padding-x, $padding-y, $font-size, $border, $radius, $scale) {
  font-size: $font-size * $scale;
  padding-top: $padding-x * $scale;
  padding-bottom: $padding-x * $scale;
  padding-left: $padding-y * $scale;
  padding-right: $padding-y * $scale;
  border-width: $border * $scale;
  border-style: solid;
  border-radius: $radius;
  text-decoration: none;
  &:hover,
    &:focus,
    &:active,
    &.active{
    text-decoration: none;
  }
}

@mixin noselect(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
