/* Navbar */

.navbar {
  position: relative;
  min-height: $navbar-height;
  margin-bottom: $navbar-margin-bottom;

  @extend .clearfix;
}

.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: $navbar-fixed-zindex;
  top: 0;
  border-width: 0 0 1px;
  background-color: $navbar-fixed-bgcolor;

  .logo{
    float: left;
    height: $navbar-height;
    margin: 0 $padding-horizontal;
    img{
      height: $navbar-height - ($navbar-height / 4);
    }
    h1{
      font-size: 20px;
      height: $navbar-height;
      padding-top: $navbar-height - 20px - $navbar-fixed-padding-bottom;
      padding-right: $padding-horizontal / 2;
      padding-bottom:  $navbar-fixed-padding-bottom;
      padding-left: $padding-horizontal / 2;
      margin: 0;
      a{
        color: #ffffff;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .nav{
    float: right;  
    padding: 0 $padding-horizontal;
    li{display: inline-block;} 
    a{
      color: $navbar-link-color;
      text-decoration: none;
      font-size: $navbar-link-size;
      height: $navbar-height;
      display: inline-block;
      padding-top: $navbar-height - $navbar-link-size - $navbar-fixed-padding-bottom;
      padding-right: $padding-horizontal / 2;
      padding-bottom:  $navbar-fixed-padding-bottom;
      padding-left: $padding-horizontal / 2;
      line-height: 1;
      &:hover, &:focus, .active{
        color: $navbar-link-hover-color;
        border-bottom: 5px solid $color-primary;
      }
    }
    @media (max-width: $sc-medium) {
      display: none;
    }
  }
  .nav-mobile{
    @media (min-width: $sc-medium) {
      display: none;
    }
    @media (max-width: $sc-medium) {
      display: block;
    }
    padding: ($navbar-height / 2) - 30;
    font-size: 30px;
    float: right;
    .icon{
      &:hover, &:active{
        cursor: pointer;
      }
    }
    .nav-mobile-nav{
      display: none;
      background-color: #ffffff;
      position: absolute;
      top: $navbar-height;
      left: 0;
      right: 0;
      list-style-type: none;
      font-size: $navbar-link-size;
      padding:  $padding-horizontal / 2 $padding-horizontal 0 $padding-horizontal;
      border-bottom: 1px solid $color-gray-dark;
      margin: 0;
      li a{
        padding: $padding-horizontal * 0.8;
        display: block;
        border-bottom: 1px solid $color-gray-light;
        &:hover, &:active{
          list-style-type: none;
        }
      }
    }
    .active{
      display: block;
    }
  }
}