/* Navbar */

#navbar-top{
  @extend .clearfix;
  position: absolute;
  height: $navbar-top-height;
  margin-bottom: $navbar-top-margin-bottom;
  position: fixed;
  right: 0;
  left: 0;
  z-index: $navbar-top-zindex;
  top: 0;
  border-bottom: $navbar-top-border-bottom;
  background: $navbar-top-bg;

  .logo h1, .title{
    float: left;
    font-size: $navbar-top-title-size;
    font-weight: $navbar-top-title-fontweight;
    height: $navbar-top-height;
    padding-top: $navbar-top-height - $navbar-top-title-size - $navbar-top-title-padding-bottom;
    padding-right: $padding-x;
    padding-bottom:  $navbar-top-title-padding-bottom;
    padding-left: $padding-x;
    margin: 0;
    white-space: nowrap;
    color: $navbar-top-title-color;
    font-family: $font-secondary;
    line-height: $navbar-top-title-size;
    background: $navbar-top-title-bg;
    width: $navbar-top-title-width;
    &:hover{
      text-decoration: none;
    }
    a{
      color: $navbar-top-title-color;
      &:hover{
        text-decoration: none;
      }
    }

  }

  .nav{
    float: right;
    padding: 0 $padding-x;
    li{display: inline-block;}
    a, div, span{
      text-decoration: none;
      font-size: $navbar-top-link-size;
      font-family: $navbar-top-link-font;
      display: inline-block;
      padding: $navbar-top-link-padding;
      line-height: $navbar-top-link-size;
      font-weight: $navbar-top-link-fontweight;
    }
    a{
      color: $navbar-top-link-color;

      &:hover, &:focus, &.active{
        color: $navbar-top-link-hover-color;
        background-color: $navbar-top-link-hover-bgcolor;
      }
      &.active{
        border-bottom: $navbar-top-link-active-borderbottom;
      }
    }
    @media (max-width: $sc-medium) {
      display: none;
    }
  }
  .nav-mobile{
    @media (min-width: $sc-medium) {
      display: none;
    }
    @media (max-width: $sc-medium) {
      display: block;
    }
    margin: 0; padding: 0;
    font-size: 30px;
    float: right;
    #nav-mobile-btn{
      color: $navbar-top-mobile-btn-color;
      height: $navbar-top-height;
      padding: ($navbar-top-height / 2) - 20px;
      font-family: 'icons';
      &:hover, &:active{
        cursor: pointer;
      }
      &.active, &.open{
        color: $color-secondary;
        margin: 0;
      }
    }
    &::selection, &::-moz-selection{
      background: transparent;
    }

    #nav-mobile-nav{
      display: none;
      background: $navbar-top-mobile-bg;
      position: absolute;
      top: $navbar-top-mobile-top;
      left: $navbar-top-mobile-left;
      right: $navbar-top-mobile-right;
      width: $navbar-top-mobile-width;
      list-style-type: none;
      font-size: $navbar-top-link-size;
      padding:  $padding-x / 2 $padding-x 0 $padding-x 0;
      border: $navbar-top-mobile-border;
      box-shadow: $navbar-top-mobile-shadow;
      margin: 0;
      li a, a{
        color: $navbar-top-mobile-link-color;
        text-decoration: none;
        padding: $padding-x * 0.8;
        display: block;
        border-bottom: $navbar-top-mobile-borderbottom;
        &:hover, &:active{
          list-style-type: none;
          text-decoration: none;
          color: primary;
          background: $navbar-top-mobile-link-hover-bg;
        }
      }
      &.active, &.open{
        display: block !important;
      }
    }
  }
}

/* simple mobile nav */
#nav-mobile-nav{
  display: none;
  li a{display: block; width: 100%;}
}
#nav-mobile-btn{ min-height: 34px; cursor: pointer;}
@media (min-width: $sc-medium) {
  #nav-mobile-btn{display: none;}
}
@media (max-width: $sc-medium) {
  #nav-mobile-nav.active{ display: block; }
  #navbar-kl .nav, #mt-nav ul{display: none;}
}

/* navigation from side */
@if $navside {
  .navside-bg {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $navside-bg;
    z-index: 80;

    &.open {
      display: block;
    }
  }

  .navside-btn {
    cursor: pointer;
    width: $navside-btn-width;
    height: $navside-btn-height;
    padding: $navside-btn-padding;
    text-align: center;
    color: $navside-btn-color;
    background: $navside-btn-bg;
  }

  .navside {
    position: fixed;
    left: -$navside-width;
    width: $navside-width;
    display: block;
    background: $navside-bgcolor;
    top: $navside-top;
    bottom: 0;
    padding: $navside-padding;
    transition: all 300ms;
    z-index: 100;
    overflow-y: auto;
    overflow-x: none;

    a:not([class*=user-]),
    p:not([class*=user-]) {
      color: $navside-color;
      margin: 0;
      display: block;
      font-weight: bold;
      padding: $navside-item-padding;
      text-decoration: none;
      border: $navside-item-border;
      border-bottom: $navside-item-borderbottom;

      &.last {
        border-bottom: 1px solid $color-gray-light;
      }

      &.open {
        color: $navside-open-color;
      }
    }

    a:not([class*=user-]):hover {
      text-decoration: none;
      background-color: $navside-open-bgcolor;
    }

    .sub a {
      padding-left: 55px;
      font-weight: normal;
    }

    &.open {
      left: 0;
      box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
      transition: all 300ms;
    }

    .user-login {
      display: block;
      width: 100%;
      height: $navbar-top-height;
      background-color: $color-gray-light;
      font-family: $font-secondary;
      padding: 32px 0 10px 20px;
      font-size: 20px;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
      }
    }

    .user-action {
      position: absolute;
      right: 20px;
      top: 10px;
      white-space: nowrap;
    }
  }
}
