/* Table */

table{
  width: 100%; 
  border-spacing: inherit;
  td{
    text-decoration: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: inherit;
    font-size: 100%;
    color: $table-color;
    padding: $table-padding;
  }
  tr{
    &:hover{background: $table-hover-color;}
  }
  th, thead, tfoot{
    color: $table-color;
    font-size: $table-fontsize;
    font-weight: bold;
    background: $table-head-bg;
    cursor: default;
  }
  tfoot{
    border-bottom: 1px solid $table-color-border;
  }
  tr td, th{
    display: table-cell; 
    border-top: 1px solid $table-color-border;

    a &:hover{cursor: pointer;}
  }
}