/* Colors */
$color-primary: #00549a;
$color-secondary: #00549a;

$color-success: #377f31;
$color-danger: #880e14;
$color-warning: #dba909;
$color-code: #dd1144;

$color-gray-dark: #989898;
$color-gray-light: #f6f6f6;

/* Background color */
$body-bg:  #fff !default;

/* Global text color */
$text-color: $color-gray-dark !default;

/* Links color */
$link-color: $color-primary;
$link-hover-color: lighten($color-primary, 8%);

/* Fonts */
$font-primary: 'Open Sans', sans-serif, Arial;
$font-secondary: MuseoSans700, 'Open Sans', sans-serif;
$font-monospace: Menlo, Monaco, 'Courier New', monospace;
$font-icon: Menlo, Monaco, 'Courier New', monospace;
$font-size: 12px !default;
$font-size-large: ceil(($font-size * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size * 0.85)) !default; // ~12px

/* Line height*/
$line-height: 1.428571429 !default; // 20/14
/* Computed line-height (`font-size` * `line-height`) */
$line-height-computed: floor(($font-size * $line-height)) !default; // ~20px


/* Headings */
$headings-font-family: $font-secondary;
$headings-font-weight: normal;
$headings-line-height: 100%;
$headings-color: #393939;

$font-size-h1: floor(($font-size * 2.5)) !default;
$font-size-h2: floor(($font-size * 2.15)) !default;
$font-size-h3: ceil(($font-size * 1.7)) !default;
$font-size-h4: ceil(($font-size * 1.25)) !default;
$font-size-h5: $font-size !default;
$font-size-h6: ceil(($font-size * 0.85)) !default;

$code-color-bg: $color-gray-light;
$code-color: $color-gray-dark;
$code-padding: 2px 6px;

/* Padding, margin */
$padding-vertical: 20px;
$padding-horizontal: 20px;

/*$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;

$line-height-large: 1.33 !default;
$line-height-small: 1.5 !default;*/

/* Container */
$container-max: 1124px;
$container-width: 95%;
$container-padding-horizontal: 0;
$container-padding-vertical: 0;

/* Grid */
//screen sizes
$sc-small: 480px;
$sc-medium: 768px;
$sc-large: 992px;

$grid-sizes: ( 
// name: width
col1: 8.3333,
col2: 16.6666,
col3: 25.0000,
col4: 33.3333,
col5: 41.6666,
col6: 50.0000,
col7: 58.3333,
col8: 66.6666,
col9: 75.0000, 
col10: 83.3333, 
col11: 91.6666, 
col12: 100, 
);

$grid-paddnig-horizontal: $padding-horizontal;
$grid-padding-vertical: $padding-vertical;
$grid-margin-horizontal: 0;
$grid-margin-vertical: 0;

/* Helpers */
/* Corners for rounding */
$radius-all: 5px;
$radius-top-left: $radius-all;
$radius-top-right: $radius-all;
$radius-bottom-right: $radius-all;
$radius-bottom-left: $radius-all;

/* Buttons */
$btn-color-bg: $color-primary;
$btn-color: #fff;
$btn-height: 34px;
$btn-padding: 6px;
$btn-radius: 3px;
$btn-font-size: 12px;

$btn-border: 2px;
$btn-small-scale: 0.8;

/* butons colection */
$btns: (
//name, color, background-color, hover color, hover background
("", #ffffff, $color-primary, #ffffff, lighten($color-primary, 10%)),
("-dark", #ffffff, darken($color-primary, 10%), #ffffff, $color-primary),
("-light", #ffffff, lighten($color-primary, 10%), #ffffff, lighten($color-primary, 15%)),
("-gray-dark", #ffffff, $color-gray-dark, #ffffff, lighten($color-gray-dark, 10%)),
("-gray-light", #ffffff, $color-gray-light, #ffffff, darken($color-gray-light, 10%)),
("-success", #ffffff, #00AA4A, #ffffff, lighten(#00AA4A, 10%)),
("-warning", #ffffff, #EF8A00, #ffffff, lighten(#EF8A00, 10%)),
("-danger", #ffffff, #EF3200, #ffffff, lighten(#EF3200, 10%))
);


/* Border */
$borders: (
//('name', 'size', 'type', 'color')
('primary', 1px, solid, $color-primary),
('gray-dark', 1px, solid, $color-gray-dark),
('gray-light', 1px, solid, $color-gray-light),
('black', 1px, solid, #ffffff)
);

$border-radius: 5px !default;
$border-radius-large: 10px !default;
$border-radius-small: 3px !default;

$hr-color: $text-color;

/* Table */

$table-color: #393939;
$table-head-bg: $color-gray-light;
$table-color-border: $text-color;
$table-fontsize: $font-size;
$table-hover-color: $color-gray-light;
$table-padding: 10px;

/* Navbar top */
$navbar-top-height: 50px;
$navbar-top-margin-bottom: 20px;

$navbar-top-zindex: 100;
$navbar-top-bgcolor: #000000;
$navbar-top-padding-bottom: 16px;

$navbar-top-title-size: 18px;
$navbar-top-title-color: #ffffff;

$navbar-top-link-color: $color-gray-light;
$navbar-top-link-size: 13px;
$navbar-top-link-hover-color: #ffffff;

$navbar-top-link-hover-color: #ffffff;