<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ name }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="#115e94">

    <link href="{{ site.github.url }}/base.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ site.github.url }}/js/index.js"></script>
  </head>
  <body>
    <div id="navbar-top">
      <div class="container">
        <a class="title" href="http://klokantech.com">KlokanTech</a>
        <ul class="nav">
          <li><a href="{{ site.github.url }}">CSS and styling</a></li>
          <li><a href="{{ site.github.url }}/html5/">HTML and markup</a></li>
          <li><a href="{{ site.github.url }}/fonts/">Fonts and symbols</a></li>
          <li><a href="{{ site.github.url }}/components/">Components</a></li>
          <li><a href="https://github.com/klokantech/styles">
              <img class="octocat" src="{{ site.baseurl }}/img/GitHub-Mark-Light-32px.png" alt="Github">
            </a></li>
        </ul>
        <div class="nav-mobile">
          <div id="nav-mobile-btn">H</div>
          <ul id="nav-mobile-nav">
            <li class="b"><a href="{{ site.baseurl }}/">CSS and styling</a></li>
            <li><a href="{{ site.baseurl }}#typography">Typography</a></li>
            <li><a href="{{ site.baseurl }}#buttons">Buttons</a></li>
            <li><a href="{{ site.baseurl }}#borders">Borders</a></li>
            <li><a href="{{ site.baseurl }}#boxes">Boxes</a></li>
            <li><a href="{{ site.baseurl }}#helpers">Helpers</a></li>
            <li><a href="{{ site.baseurl }}#grid">Grid system</a></li>
            <li><a href="{{ site.baseurl }}#tables">Tables</a></li>
            <li><a href="{{ site.baseurl }}#forms">Forms</a></li>
            <li><a href="{{ site.baseurl }}#msgs">Messages</a><li>
            <li class="b"><a href="{{ site.baseurl }}/html5/">HTML and markup</a></li>
            <li><a href="{{ site.baseurl }}fonts">Fonts and symbols</a></li>
            <li class="b"><a href="{{ site.baseurl }}/components/">Components</a></li>
            <li><a href="https://github.com/klokantech/styles">
                <img class="octocat" src="{{ site.baseurl }}/img/GitHub-Mark-32px.png" alt="Github">
                GitHub
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container main">
      <div class="row">
        <!-- content -->
        <div class="col10 flip no-padding">
          {{ content }}
        </div>
        <!-- end content -->
        <!-- nav-left -->
        <div class="col2 flip text-right no-paddings" style="margin-top: 48px;">
          <h4>Styleguide</h4>
          <h5 class="b"><a href="{{ site.baseurl }}">CSS and styling</a></h5>
          <a href="{{ site.baseurl }}#typography">Typography</a><br>
          <a href="{{ site.baseurl }}#buttons">Buttons</a><br>
          <a href="{{ site.baseurl }}#borders">Borders</a><br>
          <a href="{{ site.baseurl }}#boxes">Boxes</a><br>
          <a href="{{ site.baseurl }}#helpers">Helpers</a><br>
          <a href="{{ site.baseurl }}#grid">Grid system</a><br>
          <a href="{{ site.baseurl }}#tables">Tables</a><br>
          <a href="{{ site.baseurl }}#forms">Forms</a><br>
          <a href="{{ site.baseurl }}#msgs">Messages</a><br>
          <h5 class="b"><a href="{{ site.baseurl }}html5">HTML and markup</a></h5>
          <h5 class="b"><a href="{{ site.baseurl }}fonts">Fonts and symbols</a></h5>
          <h5 class="b"><a href="{{ site.baseurl }}components">Components</a></h5>
        </div>
        <!-- end nav-left  -->
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <a class="icon klokan" href="http://klokantech.com">K</a>
        <a class="icon" href="https://twitter.com/klokantech">T</a>
        <a class="icon" href="https://plus.google.com/+Klokantech/">G</a>
        <a class="icon" href="https://www.facebook.com/klokantech">F</a>
      </div>
    </div>
  </body>
</html>
