<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <title>Base</title>

    <meta name="author" content="{{ name }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="#115e94">

    <link href="{{ '/base.css' | relative_url }}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu%7COpen+Sans:400,400i,600,700&subset=latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ '/js/index.js' | relative_url }}"></script>
  </head>
  <body>
    <div id="navbar-top">
      <div class="container">
        <a class="title" href="{{ '/' | relative_url }}">
          <img src="{{ '/img/logo.svg' | relative_url }}" alt="logo">
        </a>
        <nav class="nav">
          <a href="{{ '/' | relative_url }}">Styling</a>
          <a href="{{ '/html5/' | relative_url }}">Markup</a>
          <a href="{{ '/fonts/' | relative_url }}">Fonts</a>
          <a href="{{ '/components/' | relative_url }}">Components</a>
          <a class="nav-btn" href="https://github.com/klokantech/styles">GitHub</a>
        </nav>
        <div class="nav-mobile">
          <div id="nav-mobile-btn">H</div>
          <div id="nav-mobile-nav">
            <a class="b" href="{{ site.baseurl }}/">Styling</a>
            <a href="{{ '/' | relative_url }}#typography">Typography</a>
            <a href="{{ '/' | relative_url }}#buttons">Buttons</a>
            <a href="{{ '/' | relative_url }}#borders">Borders</a>
            <a href="{{ '/' | relative_url }}#boxes">Boxes</a>
            <a href="{{ '/' | relative_url }}#helpers">Helpers</a>
            <a href="{{ '/' | relative_url }}#grid">Grid system</a>
            <a href="{{ '/' | relative_url }}#tables">Tables</a>
            <a href="{{ '/' | relative_url }}#forms">Forms</a>
            <a href="{{ '/' | relative_url }}#msgs">Messages</a>
            <a class="b" href="{{ '/' | relative_url }}/html5/">Markup</a>
            <a href="{{ '/' | relative_url }}fonts">Fonts</a>
            <a class="b" href="{{ '/' | relative_url }}/components/">Components</a>
            <a href="https://github.com/klokantech/styles">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container main">
      <div class="row">
        <!-- content -->
        <div class="col10 flip">
          {{ content }}
        </div>
        <!-- end content -->
        <!-- nav-left -->
        <div class="col2 flip text-right">
          <h4 class="padt-4">Styleguide</h4>
          <a class="b" href="{{ site.baseurl }}/">CSS and styling</a><br>
          <a href="{{ '/' | relative_url }}#typography">Typography</a><br>
          <a href="{{ '/' | relative_url }}#buttons">Buttons</a><br>
          <a href="{{ '/' | relative_url }}#borders">Borders</a><br>
          <a href="{{ '/' | relative_url }}#boxes">Boxes</a><br>
          <a href="{{ '/' | relative_url }}#helpers">Helpers</a><br>
          <a href="{{ '/' | relative_url }}#grid">Grid system</a><br>
          <a href="{{ '/' | relative_url }}#forms">Forms</a><br>
          <a href="{{ '/' | relative_url }}#tables">Tables</a><br>
          <a href="{{ '/' | relative_url }}#msgs">Messages</a><br><br>
          <a class="b" href="{{ '/' | relative_url }}/html5/">HTML and markup</a><br>
          <a class="b" href="{{ '/' | relative_url }}fonts">Fonts and symbols</a><br>
          <a class="b" href="{{ '/' | relative_url }}/components/">Components</a><br>
        </div>
        <!-- end nav-left  -->
      </div>
    </div>
  </body>
</html>
