<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <title>Base</title>

    <meta name="author" content="{{ name }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="#115e94">

    <link href="{{ '/base.css' | relative_url }}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CUbuntu:400,700&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,600,700,700i&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
    <script type="text/javascript" src="{{ '/js/index.js' | relative_url }}"></script>
  </head>
  <body>
    <div class="container mt-3 border-bottom">
      <div class="row">
        <nav class="navbar navbar-expand-sm navbar-dark w-100">
          <a class="navbar-brand" href="{{ '/' | relative_url }}"><img height="54" src="{{ '/img/logo.svg' | relative_url }}" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-nav ml-auto font-weight-bold text-dark">
              <a class="nav-item nav-link" href="{{ '/' | relative_url }}">Styling</a>
              <a class="nav-item nav-link" href="{{ '/html5/' | relative_url }}">Markup</a>
              <a class="nav-item nav-link" href="{{ '/fonts/' | relative_url }}">Fonts</a>
              <a class="nav-item nav-link" href="{{ '/components/' | relative_url }}">Components</a>
            </div>
            <a class="btn btn-outline-dark" href="https://github.com/klokantech/styles">GitHub</a>
          </div>
        </nav>
      </div>
    </div>

    <div class="container mt-3">
      <div class="row">
          <div class="col-sm-2 py-15 text-center text-sm-right">
            <h4 class="pt-2">Styleguide</h4>
            <a class="font-weight-bold text-dark" href="{{ site.baseurl }}/">CSS and styling</a><br>
            <a href="{{ '/' | relative_url }}#typography">Typography</a><br>
            <a href="{{ '/' | relative_url }}#buttons">Buttons</a><br>
            <a href="{{ '/' | relative_url }}#borders">Borders</a><br>
            <a href="{{ '/' | relative_url }}#boxes">Boxes</a><br>
            <a href="{{ '/' | relative_url }}#forms">Forms</a><br>
            <a href="{{ '/' | relative_url }}#tables">Tables</a><br>
          </div>
          {{ content }}
      </div>
    </div>
  </body>
</html>
